/* Carousel base class */
.carousel {
    /*margin-bottom: 4rem;*/
  }
  /* Since positioning the image, we need to help out the caption */
  .carousel-caption {
    bottom: 3rem;
    z-index: 10;
  }
  
  /* Declare heights because of positioning of img element */
  .carousel-item {
    height: 32rem;
    background-color: black;
  }
  .carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
    object-fit: cover;
    opacity: .6;
  }
  
  .bd-placeholder-img {
    opacity: 0;
  }

.carousel-caption .btn {
  background-color: #f9aa33;
  border: none;
}

.carousel p {
  text-shadow: 0 0 5px black;
}